*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: rgb(127, 127, 195);
}
header{
    background-color: rgb(108, 108, 193);
    display: flex;
flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 100%;
    height: 100px;


}
.bars{
    width: 100px;
    height: 100px;
}
bars:hover{
    color: yellowgreen;
}
.lateral{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: row;
   
}
.cards{
  flex: 1;
    display: grid;
      grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
     border : 1px solid black;
}

  
  
  
.cardball{
    background-color: #eee;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    border-radius: 50%;
    
}

.cardtext{
   
    text-align: center;
    margin-top: 10px;
    
}
.imageballs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 15%;
    width: 200px;
    height: 200px;
    padding-top: 20px;
}
.list{
    list-style: none;
    padding: 20px;
    margin-top: 20px;
}